@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.pag-completa{
    align-items: center;
    margin-left: 600px;

}
.pag{
   
  align-items: center;
  

}
.page{
    display:inline-block;
    direction: column;
    flex-direction: column;
    width: 45px;
}
.pag-link{
 text-decoration: none;
 font: normal 18px'Architects Daughter', cursive sans-serif;
 border-radius: 15px;
 background-color: transparent;
 color: wheat;
 border-color: 3px black;
 box-shadow: 5px 5px 8px 8px black;
 text-shadow: 0 0 5px #c236e6, 0 0 4px #c236e6, 
    0 0 5px #c236e6, 0 0 4px #c236e6, 0 0 6px #c236e6,
     0 0 10px #c236e6, 0 0 5px #c236e6, 0 0 7px #c236e6;
}
.pag-link:hover{
    background-color: black;
}
.pag-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(50, 231, 231)
  }